@font-face {
    font-family: 'ds digital';
    src: url('Fonts/dsdigital-webfont.woff2') format('woff2'),
         url('Fonts/dsdigital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'neue haas';
    src: url('Fonts/neuehaas-webfont.woff2') format('woff2'),
         url('Fonts/neuehaas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ogg';
    src: url('Fonts/ogg-webfont.woff2') format('woff2'),
         url('Fonts/ogg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'scto grotesk';
    src: url('Fonts/sctogrotesk-webfont.woff2') format('woff2'),
         url('Fonts/sctogrotesk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    user-select: none;
   margin:0;
   padding:0;
   box-sizing: border-box;
   cursor: url(images/cursor.png), auto;
}

html, body {
    font-size:1.25vw;
   width:100%;
   height: 100%;
}

.main {
    width: 100%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home-cover {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

#home-bg {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    /* transition: all 0.2s; */
    /* object-fit: cover; */
}

.main-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120vw;
    height: 120vw;
    transform-origin: center;
    border-radius: 50%;
    z-index: 2;
}

.top {
    position: absolute;
    width:100%;
    height: 100%;
    rotate: 180deg;
}

.main-circle img {
    position: absolute;
    width: 100%;
}

#top-circle-2 {
    scale: 0.65;
}

#top-circle-3 {
    scale: 0.4;
}

.bottom {
    position: absolute;
    width:100%;
    height: 100%;
}

#btm-circle-2 {
    scale:0.65;
}

#btm-circle-3 {
    scale: 0.4;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vw;
    z-index: 2;
    /* scale: 9; */
    background-color: #fff;
    border-radius: 50%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.home-nav {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 101;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3.5rem;
}

.left-nav h1 {
    font-family: 'neue haas', sans-serif;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
}

.right-nav {
    text-align: center;
    font-family: 'ds digital';
    position: relative;
    /* font-weight:; */
}

.right-nav h1 {
    font-weight: 400;
    font-size: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .4rem;
}

.right-nav .color-palette{
    /* width: 5rem;
    height: 1rem; */
    /* background-color: green; */
    display: flex;
    /* text-align: center; */
}

.colors {
    height: .7rem;
    width: .65rem;
    /* border-radius: 50%; */
    /* border:1px solid red; */
}

#c1 {
    background-color: #0000001e;
}

#c2 {
    background-color: #00000038;
}

#c3 {
    background-color: #0000006b;
}

#c4 {
    background-color: #000000aa;
}

#c5 {
    background-color: #000000d6;
}

#c6 {
    background-color: #000;
}

.home-btm-nav {
    position: absolute;
    z-index: 101;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.8rem;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.home-btm-nav img {
    height: 3.5rem;
}

.home-btm-nav2 {
    position: absolute;
    z-index: 101;
    opacity: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.8rem;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.home-btm-nav2 img {
    height: 3.5rem;
}

.center-img-sec {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-family: 'scto grotesk';
}

.center-img-sec h3 {
    font-weight: normal;
    font-size: .7rem;
    margin-bottom: 1rem;
}

.center-img-sec>img {
    width: 22rem;
}

.second {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.center2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    background-color: rgb(213,167,180);
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.gallery {
    position: absolute;
    bottom:0;
    width: 100%;
    z-index:3;
    /* background-color: green; */
}

.gallery h1 {
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'neue haas';
    text-align: center;
    font-size: 10rem;
}

.gallery2 {
    position: absolute;
    bottom:0;
    width: 100%;
    z-index:3;
    transform-origin: 0% 50%;
    /* background-color: green; */
}

.gallery2 h1 {
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'neue haas';
    text-align: center;
    font-size: 10rem;
    color: #fff;
}

.home-card {
    position: absolute;
    top:0;
    left:0;
    width: 25rem;
    height: 25rem;
    background-color: rgb(213,167,180);
    z-index:1;
    padding: 0 3rem;
}

.pink-card-center {
    color:#fff;
    font-family: 'scto grotesk';
    position: absolute;
    top: 50%;
    font-size: .6rem;
    /* letter-spacing: .07rem; */
    transform: translateY(-50%);
}

.pink-card-center h3 {
    font-weight: normal;
    margin-bottom: .7rem;
}

.pink-card-center .c-indent {
    margin-left: 1.3rem
}

.p-card-btm {
    width: 100%;
    position: absolute;
    color:#fff;
    left:0;
    /* padding: 0 3rem; */
    bottom:2.5rem;
    display: flex;
    justify-content: space-evenly;
}

.p-card-btm h1 {
    font-family : 'ds digital';
    font-size: 2rem;
    font-weight: normal;
}

.p-card-btm h1 sup {
    position: relative;
    transform: translateY(-50%);
    font-family: 'scto grotesk';
    font-size: .7rem;
    /* margin-bottom: 1rem; */
    display: inline-block;
}

.home-aside {
    /* background-color: green; */
    position: absolute;
    right: 0;
    z-index: 99;
    top: 50%;
    height: 8rem;
    width: 8rem;
    transform: translateY(-50%);
}

.home-aside>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    /* object-fit: cover; */
}

.home-target {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    /* background-color: red; */
    z-index: 99;
    transition: all 0.5s;
}

.home-target>img {
    width: 100%;
}

.home-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 100%; */
    width: 100%;
    z-index: 98;
    opacity: 0;
    transition: all 0.5s;
    /* background-color: red; */
}

.home-effect>img {
    width: 100%;
    object-fit: cover;
}

.target-hidden {
    transition: opacity 0.5s;
}

.second-top {
    position: relative;
    width: 100%;
    height: 62%;
    border-bottom: .1rem solid #dadada;
    overflow: hidden;
    /* background-color: green; */
}

.second-btm {
    position: relative;
    width: 100%;
    height: 38%;
    /* background-color: red; */
}

.sec-circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
    display: flex;
}

.sec-circle {
    position: relative;
    width:15rem;
    height: 15rem;
    /* background-color: green; */
    border-radius: 50%;
}

#sec-circle1 {
    transform: translate(7%);
    z-index:1;
    background: rgb(213,167,180);
}

#sec-circle2 {
    transform: translate(-7%);
    background-color: #B4AAD5;
}

.sec-btm-main-cont {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 90%;
    /* background-color: blue; */
}

.sec-btm-main-cont h1 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'neue haas';
    font-size: 2.5rem;
    font-weight: normal;
    /* background-color: red; */
}

.second-btm-nav {
    padding: 0 1.8rem;
}

.numbers-container {
    z-index: 4;
    position:absolute;
    top:15%;
    left:4%;
    width:2rem;
    height: 3rem;
    /* background-color: yellow; */
    overflow: hidden;
}

.numbers {
    /* background-color: yellow; */
    /* width: 100%;
    height: 100%; */
    position: absolute;
    font-family: 'neue haas';
    font-size:2.5rem;
}

.numbers#num2, .numbers#num3 {
    top:100%;
}

.second-footer {
    border-top: .1rem solid #cecece;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 11%;
    /* background-color: green; */
}

.footer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 93%;
    height: 100%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(224, 8, 8, 0.56); */
    font-family: 'ds digital';
    line-height: 1;
    font-weight: 100;
    font-size: .8rem;
    overflow: hidden;
    border-right: .1rem solid #cecece;
}

.footers {
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-inline: .1rem solid #cecece;
    background-color: #fff;
}

.footers p {
    opacity: .7;
}

.list-style {
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    margin-inline:.6rem;
    background-color: #000;
}

#second-footer {
    left:100%;
    transform: translateX(-3rem);
}

#third-footer {
    left:100%;
    transform: translateX(-1.5rem);
    /* background-color: red; */
}

.gradient-container {
    transform: translateX(-100%);
    font-family: 'neue haas';
    font-size: 23rem;
    line-height: .7;
    position: absolute;
    bottom:0;
}

.gradient-container h1 {
    color:#fff;
    text-transform: uppercase;
    font-weight: normal;
}

.pink-gradient-container {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:0;
    left:0;
    z-index:99;
    display: flex;
    align-items: flex-end;
}

.pink-shades {
    position: relative;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /* border:1px solid green; */
}

#pshade1 {
    background-color: #DFB1BE;
}

#pshade2 {
    background-color: #E9BBC8;
}

#pshade3 {
    background-color: #F3C5D2;
}

#pshade4 {
    background-color: #FDCFDC;
}

#pshade5 {
    background-color: #FFE3F0;
}

.up-shade {
    /* border:1px solid green; */
    height: 16%;
    width: 100%;
    background-color: inherit;
}

.dp-shade {
    /* border:1px solid red; */
    height: 16%;
    width: 100%;
    background-color: inherit;
}

.diff-shade {
    background-color: #FFEDFA;
    height: 30%;
    width: 100%;
    position: absolute;
    bottom:0;
    left:0;
}

.s-color-palette {
    display: flex;
    position:absolute;
    top: 0;
    opacity: 0;
}

#s-c1 {
    background-color: rgba(255, 255, 255, 0.058);
}

#s-c2 {
    background-color: rgba(255, 255, 255, 0.245);
}
#s-c3 {
    background-color: rgba(255, 255, 255, 0.448);
}
#s-c4 {
    background-color: rgba(255, 255, 255, 0.683);
}

#s-c5 {
    background-color: rgba(255, 255, 255, 0.853);
}

#s-c6 {
    background-color: white;
}